
@model BackendEjemplo.Models.operasbas
@{
    ViewBag.Title = "Operacion";
}

<h2>Operacion</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label for="n1">Numero1</label>
                <input type="text" name="Num1" value="" />
                <br />
                <label for="n2">Numero2</label>
                <input type="text" name="Num2" value="" />
                <br />
                <input type="submit" value="Calcular" />
            </form>
        </div>
        <div class="col-lg-6">
            <h2>@Model.Rest</h2>
        </div>

    </div>
</div>
<h2>Suma</h2>


