
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <button type="button" id="btnGaraje" class="btn"> Carga Garaje </button>
    <button type="button" id="btnGarajeSimple" class="btn"> Carga Gareja Simple </button>
    <button type="button" id="btnLimpiar" class="btn"> Limpiar Datos </button>
</div>
<div id="divGaraje"></div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnGaraje").click(function () {
                $("#divGaraje").load("_Garaje");
            })
            $("#btnGarajeSimple").click(function () {
                $("#divGaraje").load("_GarajeSimple");
            })
            $("#btnLimpiar").click(function () {
                $("#divGaraje").html("");
            })
        })
    </script>
    }

